* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: all 1s ease;
}
#quote-box{
  border-radius: 10px;
  width:550px;
  padding:40px 50px;
  background-color: white;
  transition: all .5s ease-out;
}
.quotes{
  font-weight: 500;
  font-size:1.75em;
  text-align: justify;
}
.quotes i{
  padding-right: 15px;
}
.author{
  font-size: 22px;
  text-align: right;
  padding-top: 25px;
}
.buttons{
  padding: 25px 0 10px 0;
  font-size: 40px;
  position: relative;
}
#new-quote{
  position: absolute;
  right: 0px;
  height: 35px;
  padding: 8px 15px 8px 18px;
  margin-top: 8px;
  background-color: purple;
  cursor:pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
}
.buttons i{
  padding: 5px;
  color: purple;
}
.footer{
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: white;
}
@media only screen and (max-width: 550px){
  #quote-box{
    width: 90%;
    padding:20px;
    margin: auto;
 }

}