
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
html,body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CFD8DC;
}
.quiz-container{
  width: 470px;
  height: 88vh;
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  h1{
    text-align: center;
    padding: 20px 0 30px 0;
    background-color: #f9e5e5;
    border-radius: 15px 15px 0 0;
  }
  .ques-section{
    padding: 0 25px ;
    padding-bottom: 10px;
    flex-grow: 4;
    background-color: #FAFAFA;
  }
  .footer{
    //flex-grow: 1;
    height: 40px;
    background-color: #f9e5e5;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }
}
.question{
  padding: 10px;
  font-size: 23px;
}
.answers{
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f9e5e5;
}
button{
  margin: 10px 10px 0 10px;
  outline: none;
  border: none;
  width: 80px;
  height: 25px;
  background-color: #ab8d92;
  border-radius: 5px;
}
.click-state{
  background-color: #bf9d9d;
}
.refresh{
  text-align: center;
  padding-top: 80px;
  h3{
    padding: 10px;
    font-size: 25px;
  }
  p{
    font-size: 25px;
    padding-bottom: 20px;
  }
}
.ref-btn{
  background-color: #f9e5e5;
}
@media only screen and (max-width: 570px){
  .quiz-container{
    width: 93%;
    margin: auto;
    height: 95vh;
    .ques-section{
      padding: 0 10px;
      flex-grow: 6;
      width: 100%;
    }
  }
  .footer{
    flex-grow: 1;
  }
  button{
    margin-top: 18px;
  }
}