.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #323640;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  
}
.header h1 {
  font-size: 25px;
  font-weight: 40px;
  padding: 15px;
  padding-left: 35px;
  color: white;
  font-style: bold;
}
.search-bar {
  margin-top: 50px;
  padding: 30px 15px 10px 15px;
  text-align: center;
}
.search-bar input {
  padding-left: 15px;
  width: 350px;
  height: 30px;
  border: 1px solid black;
  outline-color: blue;
}
.search-bar button {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  outline: none;
  border-left: none;
}
.recipe-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}
.recipe-container::after {
  content: "";
}
.recipe-item {
  display: block;
  margin: 20px;
  width: 250px;
  height: 330px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px gray;
  /*border: 1px solid #c3c3c3;*/
}
.recipe-item:hover{
  transform: scale(1.03);
  z-index: 1;
}
.recipe-item img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}
.recipe-item h3 {
  text-align: center;
  padding: 8px 5px;
}
.recipe-item .btn{
  float: right;
  width: 60px;
  outline: none;
  margin-right: 10px;
  font-size: 13px;
  background-color: pink;
  border: none;
  height: 23px;
  border-radius:  5px;
}
.btn:hover{
  width: 65px;
  height: 25px;
  text-decoration: underline;
}
.recipe-Container {
  height: 75vh;
  width: 80%;
  display: flex;
  margin: 70px auto 0 auto;
  background-color: pink;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.img-container{
  width: 40%;
  background-color: gray;
}
.img-container img{
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.recipe-details {
  padding: 25px;
  width: 60%;
  position: relative;
  overflow: scroll;
}
.recipe-details h1{
  text-align: center;
  padding-bottom: 20px;
}
.recipe-details ol{
  font-size: 20px;
  padding-left: 15px;
}
.recipe-details ol li{
  padding: 5px 0;
}
.recipe-details::-webkit-scrollbar {
  display: none;
}
.home-Link{
  text-align: center;
  padding-top: 2px;
  position: absolute;
  width: 100px;
  height: 30px;
  bottom: 100px;
  right: 12%;
  color: white;
  background-color: palevioletred;
  font-size: 20px;
}
.home-Link:hover{
  text-decoration: underline;
}
@media only screen and (max-width: 550px) {
  .search-bar input {
    width: 70%;
    height: 30px;
    border: 1px solid black;
  }
  .search-bar button {
    width: 30%;
    height: 30px;
    border: 1px solid black;
    border-left: none;
  }
  .recipe-Container{
    height: 82vh;
    margin: 67px auto 5px auto;
    flex-direction: column;
  }
  .img-container{
    width: 100%;
    height: 35%;
    border-radius: 5px;
  }
  .img-container img{
    border-radius: 15px 15px 0 0;
  }
  .recipe-details{
    width: 100%;
    height: 65%;
  }
  .recipe-details{
    overflow-y:scroll;
  }
  .home-Link{
    bottom: 28px;
  }
}
